<div class="conatiner-fulid">
  <h1>CREATE A NEW POST</h1>

  <div id="form-create">
    <form action="/admin/add-post" method="POST">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Choise Your Category</label>
        <select
          class="form-control select-custom"
          id="list-category"
          name="selectCategoryName"
        >
          <% data.forEach(category=>{%>
          <option class="btn-opt" value="<%- category.name %>"
            ><%- category.name %></option
          >
          <%}) %>
        </select>
      </div>
      <!-- topic -->
      <div class="form-group topic-component">
        <label for="exampleFormControlSelect1">Choise topic</label>
        <select
          class="form-control select-custom"
          id="list-topic"
          name="selectTopicId"
        >
          <!-- <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option> -->
        </select>
      </div>
      <div class="alert" style="color: red; font-size: 20px;"></div>
      <div id="form-input">
        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input
            type="text"
            name="title"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Enter your greate title"
          />
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">Description</label>
          <input
            type="text"
            name="description"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <!-- <label for="text-editor">Example textarea</label> -->
          <textarea id="text-editor" name="content"></textarea>
        </div>

        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="exampleCheck1"
            name="newPost"
            value="true"
          />
          <label class="form-check-label" for="exampleCheck1"
            >set on new post</label
          >
        </div>

        <button type="submit" class="btn btn-primary mb-2">
          Confirm identity
        </button>
      </div>
    </form>
  </div>
</div>

<!-- <form action="/admin/test" method="POST">
  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="exampleCheck1"
      name="newPost"
      value="true"
    />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary mb-2">
    Confirm identity
  </button>
</form> -->

<script>
  $(document).ready(function() {
    $(".topic-component").hide();
    $("#form-input").hide();
    $(".btn-opt").click(() => {
      $(".alert-msg").remove();

      var category = document.getElementById("list-category");
      var categoryName = category.options[category.selectedIndex].value;
      console.log(categoryName, "category name");

      axios
        .post("/admin/getData", {
          name: categoryName
        })
        .then(res => {
          if (res.data.children.length > 0) {
            console.log(res);
            res.data.children.forEach(topic => {
              $("#list-topic").append(
                `<option value="${topic._id}">${topic.name}</option>`
              );
            });
            $(".topic-component").show();
            $("#form-input").show();
          } else {
            $(".topic-component").hide();
            $("#form-input").hide();

            $(".alert").append(
              `<p class="alert-msg"> ${res.data.name} don't have any topic </p>`
            );
          }
        });
    });
  });
</script>
<script src="/public/WYSIWYG/froala_editor_3.1.0/js/plugins/image.min.js"></script>
<script src="/public/WYSIWYG/froala_editor_3.1.0/js/plugins/image_manager.min.js"></script>
<script src="/public/WYSIWYG/froala_editor_3.1.0/config.js"></script>
<!-- 
<script>
  var editor = new FroalaEditor("#text-editor");
</script> -->
