<div class="uk-container">
  <h1>view posts</h1>
  <div class="uk-text-primary">
    <%- post.dateUpload %>
  </div>
  <div class="uk-text-lead">
    <%- post.title %>
  </div>
  <div class="fr-view">
    <%- post.content %>
  </div>
</div>
