<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Document</title> -->
    <link
      rel="stylesheet"
      href="/public/libs/uikit/uikit-3.3.3/css/uikit.min.css"
    />
    <script src="/public/libs/uikit/uikit-3.3.3/js/uikit-icons.min.js"></script>
    <script src="/public/libs/uikit/uikit-3.3.3/js/uikit-icons.js"></script>
    <script src="/public/libs/uikit/uikit-3.3.3/js/uikit.min.js"></script>
    <script src="/public/libs/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <%- include('user/'+ page) %>
  </body>
</html>
